.board {
  margin: 1px;
}

.cell {
  width: 25px;
  height: 25px;
  margin: 1px;
  text-align: center;
  cursor: default;
}

.empty {
  composes: cell;
  background-color: #eee;
  overflow: hidden;
}

.bonusMultiplier {
  composes: empty;
  line-height: 10px;
  font-size: 75%;
}

.bonusWord {
  composes: bonusMultiplier;
  color: #77d;
}

.bonusLetter {
  composes: bonusMultiplier;
  color: #9c9;
}

.bonusItem {
  composes: empty;
}

.letter {
  composes: cell;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #777;
  color: #eee;
  line-height: 25px;
}

.hot {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.2;
  background-size: 12px 12px;
  background-image: linear-gradient(
    135deg,
    #c00 25%,
    transparent 25%,
    transparent 50%,
    #c00 50%,
    #c00 75%,
    transparent 75%,
    transparent 100%
  );
}

.warm {
  composes: hot;
  background-image: linear-gradient(
    135deg,
    #999 25%,
    transparent 25%,
    transparent 50%,
    #999 50%,
    #999 75%,
    transparent 75%,
    transparent 100%
  );
}
